:local(.player) {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

:local(.player svg) {
    width: 30px;
    height: 30px;
    margin: 20px;
    cursor: pointer;
}

:local(.exit) {
    margin: auto 30px;
}

:local(.intoplay) {
    margin: auto 20px;
}